@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Koulen&family=Lilita+One&family=Montserrat+Alternates:wght@500&family=Montserrat:wght@200;300;400;500;700&family=Open+Sans:wght@400;700&family=Overpass:wght@200;300;500&family=Permanent+Marker&family=Poppins:wght@300;400;500;600&family=Rajdhani:wght@500;600&family=Source+Sans+Pro:wght@200;300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #0075eb;
    background-image: linear-gradient(268deg, #271e55, #03020e);
    height: auto;
}

nav {
    position: fixed !important;
    z-index: 2000 !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13vh;
    /* background-color: #000; */
    /* border-bottom: 1px solid white; */
    background-color: #0075eb;
    background-image: linear-gradient(268deg, #271e55, #03020e);
    padding: 0px 100px;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lilita One', cursive;
    font-size: 29px;
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;

}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-weight: 500;
    font-size: 16px !important;
    font-family: 'Lilita One', cursive;
    margin: 13px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease
}

@media screen and (max-width: 768px) {
    nav {
        padding: 0px 20px;
    }

    .nav-links {
        padding: 10px 20px !important;
        width: 100%;
    }

    .nav-links li {
        opacity: 0;
        line-height: 50px !important;

    }

    .nav-links li a {
        font-size: 20px !important;
    }
    .logo{
        font-size: 19px !important;
    }

}


@media screen and (max-width:1295px) {
    body {
        overflow-x: hidden;
    }

    nav {
        padding: 0px 30px;
    }

    .nav-links {
        position: fixed;
        right: 0px;
        min-height: 100vh;
        overflow-y: scroll !important;
        top: 10vh;
        background-color: #0075eb;
        background-image: linear-gradient(268deg, #271e55, #03020e);
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        z-index: 1000 !important;
        justify-content: start;
        align-items: flex-start;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
        line-height: 30px;


    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-40deg) translate(-5px, 6px);
}

.toggle .line2 {
    transform: rotate(90deg) translate(0px, 0px);
}

.toggle .line3 {
    transform: rotate(35deg) translate(-5px, -6px);
}


/* ================ HERO ============== */
.hero {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 180px 100px 61px 100px;
    align-items: center;
}

/* .hero-1{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/3.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
} */
.hero-1 {
    width: 100%;
    height: auto;
    /* border: 1px solid white; */
    color: white;
}

.hero-2 {
    width: 100%;
    height: auto;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-1 h1 {
    font-family: 'Lilita One', cursive;
    color: white;
    font-size: 53px;
}

.hero-1 p {
    font-family: "Poppins";
    padding-top: 20px;
    line-height: 24px;
    font-size: 15px;
}

.hero-img {
    width: 380px;
    height: 420px;
}

.hero-img img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

.button-area {
    height: auto;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    margin-top: 40px;
}

.hero-btn-1 {
    padding: 10px 20px;
    justify-content: center;
    background-color: #0075eb;
    display: flex;
    width: 160px;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
}

.hero-btn-2 {
    padding: 10px 20px;
    justify-content: center;
    background-color: #fff;
    display: flex;
    width: 160px;
    color: #0075eb;
    border-radius: 30px;
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
    margin-left: 20px;
    font-size: 15px;
}


@media screen and (max-width: 789px) {
    .hero {
        flex-direction: column;
        /* display: block; */
        justify-content: space-between;
        padding: 140px 30px 61px 30px;
    }

    .hero-2 {
        justify-content: start;
        margin-top: 60px;
    }

    .hero-img {
        width: 100%;
        height: 520px;
    }

    .hero-1 h1 {
        font-size: 33px;
    }

    .hero-1 p {
        font-size: 14px;
    }
}


/* ======================== ABOUT ================ */
.about {
    /* border: 1px solid white; */
    height: auto;
    background-color: #0075eb;
    background-image: linear-gradient(268deg, #271e55, #03020e);
    width: 100%;
}

.about-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: auto;
    padding: 80px 100px;
}

.about-container>div {
    /* border: 1px solid #fff; */
    height: auto;
    color: white;
    width: 100%;
}

.about-img .about-img-container {
    width: 490px;
    /* margin-left: 80px; */
    border-radius: 30px;
    height: 360px;
    border: 1px solid #fff;
}

.about-container h1 {
    font-family: 'Lilita One', cursive;
}

.about-container p {
    font-family: "Poppins";
    padding-top: 16px;
    line-height: 26px;
}

.about-container img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
}

@media screen and (max-width: 900px) {
    .about-container {
        flex-direction: column;
        padding: 30px 30px;
    }

    .about-img .about-img-container {
        width: 100%;
        margin-top: 40px;
        height: 300px;
        margin-left: 0px;
        border-radius: 30px;
    }
}


/* ======================== OUR TEAM ================= */
.team{
    height: auto;
    padding: 20px 0px;
    width: 100%;
    /* border: 1px solid #fff; */
    background-color: #0075eb;
    background-image: linear-gradient(268deg, #271e55, #03020e);    
}
.team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 100px;
}
.team-container > div{
    width: 200px;
    height: auto;
    /* border: 1px solid #fff; */
    margin: 10px 16px;
}
.team > h1{
    text-align: center;
    font-family: 'Lilita One', cursive;
    color: white;
    font-weight: 700;
    font-size: 40px;
}
.team-img{
    height: 300px;
    width: 100%;
    /* border: 1px solid white; */
}
.team-txt{
    width: 100%;
    height: auto;
    /* border: 1px solid #fff; */
}
.team1{
    width: 100%;
    height: 200px;
    border-radius: 30px;
    /* border: 1px solid red; */
}
.team1 img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 30px;
}
.team1-text{
    width: 100%;
    height: auto;
    /* border: 1px solid white; */
    margin-top: 12px;
}
.team1-text h5{
    font-family: 'Lilita One', cursive;
    color: white;
    font-size: 22px;
}
.team1-text h6{
    font-family: "Poppins";
    color: white;
    font-size: 14px;
    font-weight: 200;
}
.team-txt h1{
    font-family: 'Lilita One', cursive;
}
.team-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 900px){
    .team-container > div{
        width: 100%;
        height: auto;
        padding-bottom:20px;
    }
    .team-container{
        padding: 0px 20px;
    }


}